<main>
    <section class="contenidoMain">
        <div class="imagen">
            <img src="../static/bigdata.png" alt="">
            <div class="datoImg">
                <h2>big data</h2>                
            </div>
        </div>
        <div class="datos">
            <h2>Que es el BigData  y lo que necesitas para hacer </h2>
            <div class="linea">
                <hr>
            </div>
            <p>Big Data es un término que describe el gran volumen de datos, tanto estructurados como no estructurados, que inundan los negocios cada día. Pero no es la cantidad de datos lo que es importante. .</p>
            <hr>
            <div class="fecha">
                <span>16 de Dicienbre 2019</span>
                <a href="../about.html">informacion</a>
            </div>
        </div>
    </section>
</main>