<header>
    <div class="contenidoHeader">
        <div class="logo">
            <img src="../static/nave.png" alt="">
        </div>
        <h1><b>{</b>CjSystem2030<b>}</b></h1>
        <div class="redesSociales">
            <span><a href="">f</a></span>
            <span><a href="">in</a></span>
        </div>
        <span>SUSCRIBETE AL BOLETIN</span>
        <form action="" class="boletin">
            <input type="correo" name="correo" id="">
            <input type="submit" value="Enviar">
        </form>
    </div>
   
</header>

<!--<h1>Navigation with the cristian: {{title}}</h1>-->